.actionPanel {
  padding: 1em !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px !important;
  background: var(--white) !important;
  margin: 20px 2em !important;
}

.MuiSelect {
  border-radius: 15px !important;
}