.App {
  height: 100%;

  &__layout {
    background: var(--orange) !important;
    background: linear-gradient(var(--orange), var(--electricLime)) !important;
    overflow: hidden !important;
  }

  &__content {
    height: 100%;
  }
}